<header class="hd-auth">
    <div class="content-space">
        <div class="lang-bar">
            <a class="favicon" role="button" id="lang-bar">
                <span data-lang="English (EN)">English (EN)</span>
                <div class="expand"></div>
            </a>
            <div class="dropdown" aria-labelledby="lang-bar">{{> dropdown/lang-bar }}</div>
        </div>
    </div>
</header>