<header class="hd-schedule">
    <div class="content-space">
        <div class="homepage-bar">
            <a href="home.html" class="homepage">
                <img src="./images/web-schedules.png" alt="Web Schedules">
            </a>
        </div>
        <div class="title-bar">
            <div class="rename">
                <input type="text" name="title" class="title" value="Untitled schedule" spellcheck="false" autocomplete="off">
            </div>
        </div>
    </div>
    <nav class="content-space" role="navigation">
        <div class="write-bar">
            <a href="" class="favicon">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 24 24" 
                    fill="black" 
                    width="18px" 
                    height="18px">
                    <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </a>
        </div>
        <div class="download-bar">
            <a class="favicon" role="button" id="download-bar">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 24 24" 
                    fill="black" 
                    width="18px" 
                    height="18px">
                    <path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </a>
            <div class="dropdown" aria-labelledby="download-bar">{{> ../dropdown/download-bar }}</div>
        </div>
        <div class="print-bar">
            <a class="favicon" role="button">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 24 24" 
                    fill="black" 
                    width="18px" 
                    height="18px">
                    <path d="M19 8H5c-1.66 0-3 1.34-3 3v6h4v4h12v-4h4v-6c0-1.66-1.34-3-3-3zm-3 11H8v-5h8v5zm3-7c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1-9H6v4h12V3z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </a>
        </div>
        <div class="participants-bar">
            <a class="favicon" role="button" id="participants-bar">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 24 24" 
                    fill="black" 
                    width="18px" 
                    height="18px">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
                </svg>
            </a>
            <div class="dropdown" aria-labelledby="participants-bar">{{> ../dropdown/participants-bar }}</div>
        </div>
        <div class="settings-bar">
            <a href="/settings.html" class="favicon">
                <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    enable-background="new 0 0 24 24" 
                    viewBox="0 0 24 24" 
                    fill="black" 
                    width="18px" 
                    height="18px">
                    <g>
                        <path d="M0,0h24v24H0V0z" fill="none"/>
                        <path d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"/>
                    </g>
                </svg>
            </a>
        </div>
        <avatar-bar></avatar-bar>
    </nav>
</header>