<div class="data-dropdown">
    <a id="xlsx" class="btn-hide" role="button">XLSX</a>
    <a id="pdf" class="btn-hide" role="button">PDF</a>
    <a id="jpeg" class="btn-hide" role="button">JPEG</a>
</div>