<main class="mn-about">
    <div id="content">
        <div class="box-content">
            <div id="info">
                <img src="./images/web-schedules.png" alt="Web Schedules">
                <h2>Web Schedules</h2>
                <a href="">www.webschedules.com</a>
                <span id="version">Version: 1.0.0</span>
                <p>Web Schedules is a course schedule processing software to minimize the equal time of teaching staff at the same time.</p>
            </div>
            <div id="copyright">
                <span>Copyright (c) 2020 - Emil Jamel Mahmuda</span>
            </div>
        </div>
    </div>
</main>