<main class="mn-home">
    <div id="content"></div>
    <div class="dialog dialog-join" role="dialog" tabindex="-1" aria-modal="true" aria-hidden="true" aria-labelledby="join-bar">{{> ../dialog/join-bar }}</div>
    <div class="dialog dialog-rename" role="dialog" tabindex="-1" aria-modal="true" aria-hidden="true" aria-labelledby="rename-bar"></div>
</main>