<form action="/" method="post" role="form" accept-charset="UTF-8">
    <div class="tab-content">
        <div class="tab-item">
            <label for="email">Email</label>
            <div class="tab">
                <input type="email" name="email" id="email" spellcheck="false" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="tab-button">
        <div class="btn-submit">
            <button type="submit" name="reset">Reset Password</button>
        </div>
    </div>
</form>