<main class="mn-settings">
    <div id="content">
        <div class="box-content" id="general-bar">
            <div class="st-header">
                <h2>General</h2>
            </div>
            <div class="st-content">
                <div class="general-item">
                    <label for="schedule-code">Schedule Code</label>
                    <div class="general">
                        <span data-code="3zkFthW">3zkFthW</span>
                        <a class="copy" role="button" id="schedule-code">
                            <svg 
                                xmlns="http://www.w3.org/2000/svg" 
                                viewBox="0 0 24 24" 
                                fill="black" 
                                width="18px" 
                                height="18px">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="general-item">
                    <label for="hours">Number of Hours</label>
                    <div class="general">
                        <input type="number" name="hours" id="hours" value="6" spellcheck="false" autocomplete="off">
                        <div class="field-append">
                            <span id="hours">/ hrs</span>
                        </div>
                    </div>
                </div>
                <div class="general-item">
                    <label for="minutes">Number of Minutes</label>
                    <div class="general">
                        <input type="number" name="minute" id="minutes" value="60" spellcheck="false" autocomplete="off">
                        <div class="field-append">
                            <span id="minutes">/ mnt</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-content" id="majors-bar">
            <div class="st-header">
                <h2>Majors</h2>
            </div>
            <div class="st-field"></div>
            <div class="st-content">
                <a class="add-to-content" role="button">Add a New Major</a>
            </div>
        </div>
        <div class="box-content" id="rooms-bar">
            <div class="st-header">
                <h2>Rooms</h2>
            </div>
            <div class="st-field"></div>
            <div class="st-content">
                <a class="add-to-content" role="button">Add a New Room</a>
            </div>
        </div>
        <div class="box-content">
            <div class="st-header">
                <h2>Days</h2>
                <div class="help-bar">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        viewBox="0 0 24 24" 
                        fill="black" 
                        width="18px" 
                        height="18px">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/>
                    </svg>
                </div>
            </div>
            <div class="st-content" id="days-bar"></div>
        </div>
        <div class="box-content">
            <div class="st-button">
                <div class="btn-reset">
                    <button type="button" name="reset" class="reset">Reset</button>
                </div>
                <div class="btn-submit">
                    <button type="submit" name="sumbit" class="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</main>