<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Web Schedules is a course schedule processing software to minimize the equal time of teaching staff at the same time.">
    <meta name="keywords" content="Web Schedules, Schedules Timetable">
    <meta name="google" content="notranslate">
    <meta name="theme-color" content="white">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="shortcut icon" href="./images/web-schedules.png" type="image/x-icon">
</head>
<body>

    <div id="root">
        {{> header/hd-about }}
        {{> main/mn-about }}
    </div>

</body>
</html>