<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="Web Schedules, Schedules Timetable">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="shortcut icon" href="./images/web-schedules.png" type="image/x-icon">
</head>
<body>

    <div id="root">
        {{> header/hd-schedule }}
        {{> main/mn-schedule }}
        {{> footer/ft-schedule }}
    </div>

</body>
</html>